<%- include('partials/head') %>

<div class="container">
    <div class="row mt-3">
        <div class="col-sm-12 col-md-12">
            <div class="shadow p-3 mb-5 bg-body-tertiary rounded d-flex justify-content-between">
                <h3>Configuración de Textos</h3>
                <button class="btn success mb-3" type="button" onclick="mostrarModal('#modalConfigTexto')">
                    <div class=""><img src="/assets/img/icons/agregar.svg"></div>
                    <div class="title">AGREGAR</div>
                </button>
            </div>

            <div class="shadow p-3 mb-5 bg-body-tertiary rounded ">
                <div class="table-container">
                    <table class="table-gral table-responsive" id="tablaConfiguraciones">

                    </table>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-12">
            <div class="shadow p-3 mb-5 bg-body-tertiary rounded d-flex justify-content-between">
                <h3>Configuración de Imagen de Firma</h3>
                <button class="btn success mb-3" type="button" onclick="mostrarModal('#modalConfigImagen')">
                    <div class=""><img src="/assets/img/icons/agregar.svg"></div>
                    <div class="title">AGREGAR</div>
                </button>
            </div>

            <div class="shadow p-3 mb-5 bg-body-tertiary rounded ">
                    <div class="table-container">
                        <table class="table-gral table-responsive" id="tablaArchivos">
                        </table>
                    </div>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="modalConfigTexto" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Configuración de Texto</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
                    <form action="" id="formConfiguraciones">
                        <div class="col-sm-12 col-md-12 mb-3">
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Color de letra: <span style="color:red;font-weight:800">*</span></label>
                                <input type="color" class="form-control form-control-color" id="color_letra" name="color_letra" value="#611232" title="Seleccione un color">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 mb-3">
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Tamaño de letra: <span style="color:red;font-weight:800">*</span></label>
                                <input type="number" class="form-control" id="tamanio_letra" name="tamanio_letra" placeholder="">
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 mb-3">
                            <label for="formFile" class="form-label">Estilo de letra:</label>
                            <select class="form-select" aria-label="Default select example" id="estilo_letra" name="estilo_letra">
                            <option selected value="">--Seleccione--</option>
                            <option value="bold">Negrita</option>
                            <option value="italic">Cursiva</option>
                            </select>
                        </div>
                        <div class="col-sm-12 col-md-12 mb-3">
                            <label for="formFile" class="form-label">Apartado: <span style="color:red;font-weight:800">*</span></label>
                            <select class="form-select" aria-label="Default select example" id="fk_id_cat_apartado_firma" name="fk_id_cat_apartado_firma">
                                <option selected value="">--Seleccione--</option>
                                <% for(let apartado of apartados){%>
                                    <option value="<%=apartado.id_cat_apartado_firma%>"><%=apartado.apartado_firma%></option>
                                <%}%>
                            </select>
                        </div>
                    </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="addConfiguracion()">Guardar</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="modalConfigImagen" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Configuración de Imagen de la Frima</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
                    <div class="col-sm-12 col-md-12 mb-3">
                        <form action="" id="formArchivos" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="formFile" class="form-label">Seleccione un archivo a subir.</label>
                                <input type="file" accept="image/*" onchange="previewImage(event, '#imgPreview')" id="file" name="file">
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-12 col-md-12 mb-3" style="width: 100%;">
                        <img id="imgPreview" width="60%">
                    </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="agregarArchivo()">Guardar</button>
      </div>
    </div>
  </div>
</div>
<script>

    function mostrarModal(id){
        $(id).modal('show');
    }

function dataTableConfig(tabla,columnas,datos){

    let dataTableOptions={
         columnDefs: [
             { minWidth: '200px', targets: 0 },
             { maxWidth: '300px', targets: 1 }
         ],
          columns: columnas,
          data:datos,
         language:{
             info:       'Registro _START_ al  _END_ de _TOTAL_ , (Página _PAGE_ de _PAGES_ Páginas)',
             paginate: {
                 first:      'Primero',
                 last:       'Último',
                 next:       'Siguiente',
                 previous:   'Anterior'
                 },
             lengthMenu: 'Ver _MENU_ Registros por página',
             search:     'Buscar: ',
             zeroRecords:'No existe registro'
         },
         initComplete: function () {
 
         }
     };
     
     $(`#${tabla}`).dataTable(dataTableOptions);

} 

async function fechData(url,metodo,body=null){
      try {
        let configuracionFetch ={
            method:metodo,
            headers: {
                    "Content-Type": "application/json",
                    },
            }
            if(body!= null){
                configuracionFetch.body=body
            }
            const response = await fetch(url,configuracionFetch); 
            const data = await response.json();
  /*           console.log('data',data); */
            return data;

        } catch (error) {
            console.error('Error al obtener los datos:', error);
        }
}
fechData('/configuracion/files/getAll','GET')
.then((result)=>{
    dataTableConfig('tablaArchivos',
                    [
                        {
                            data:'ruta_archivo',
                            title:'Archivo',
                            render:function(data,type,row){
                                return `<a href="${data}" target="_blank">imagen_${row.id_archivo}</a>`
                            }
                        },
                        {data:'tamanio_archivo',title:'Tamaño del Archivo'},
                        {data:'tipo_archivo',title:'Tipo del Archivo'},
                        {
                            data:'activo',
                            title:'Seleccionar',
                            render: function(data, type, row) {
                                if (data === true) {
                                    return '<span class="badge text-bg-success" >Seleccionado</span>';
                                } else {
                                    // Si está inactivo, muestra botón
                                    return `
                                    <button class="btn primary" type="button" onclick="activarImage(${row.id_archivo})">
                                        <div class=""><img src="/assets/img/icons/seleccionar.svg"></div>
                                        <div class="title">SELECCIONAR</div>
                                    </button>
                                    `;
                                }
                            }
                        }
                    ]
                ,result.archivos); 

});

fechData('/configuraciones/getAll','GET')
.then((result)=>{
    dataTableConfig('tablaConfiguraciones',
                    [
                        {
                            data:'color_letra',
                            title:'Color de la Letra',
                            render: function(data,type, row){
                                return `<p style="color:${data}">${data}</p>`
                            }
                        },
                        {data:'tamanio_letra',title:'Tamaño de la Letra'},
                        {data:'estilo_letra',title:'Estilo de la Letra'},
                        {data:'cat_apartados_firma.apartado_firma',title:'Apartado'},
                        {
                            data: 'activo', 
                            title: "Seleccionar",
                            render: function(data, type, row) {
                            if (data === true) {
                                return '<span class="badge text-bg-success" >Seleccionado</span>';
                            } else {
                                // Si está inactivo, muestra botón
                                return `
                                    <button class="btn primary" type="button" onclick="activar(${row.id_configuracion},${row.cat_apartados_firma.id_cat_apartado_firma})">
                                        <div class=""><img src="/assets/img/icons/seleccionar.svg"></div>
                                        <div class="title">SELECCIONAR</div>
                                    </button>
                                `;
                            }
                        }
                        }
                    ]
                ,result.configuraciones); 

});



    function previewImage(event, querySelector){

	let input = event.target;
	

	let imgPreview = document.querySelector(querySelector);


	if(!input.files.length) return
	

	let file = input.files[0];

	let objectURL = URL.createObjectURL(file);
	
	imgPreview.src = objectURL;
                
}

function quitarImagen(querySelector){
    let file = document.getElementById('file').value = "";
	let imgPreview = document.querySelector(querySelector);
    imgPreview.src = "";
}

async function addConfiguracion(){
    try {
        const url = "/configuracion/add";
        const color_letra = document.getElementById('color_letra').value;
        const tamanio_letra = document.getElementById('tamanio_letra').value;
        const estilo_letra = document.getElementById('estilo_letra').value;
        const fk_id_cat_apartado_firma = document.getElementById('fk_id_cat_apartado_firma').value;
    
        if(color_letra == "" || tamanio_letra == "" || fk_id_cat_apartado_firma == ""){
            $.alert({
                title: "Advertencia",
                content: `<strong>Favor de agregar los campos requeridos <span style="color:red;font-weight:800">*</spant</strong>`,
                theme: 'modern',
                icon: 'fa-solid fa-triangle-exclamation',
                type: "red"
            });
        }else{
    
            const response = await fetch(url,{
                method:"POST",
                        headers: {
                    "Content-Type": "application/json",
                },
                body:JSON.stringify({color_letra,tamanio_letra,estilo_letra,fk_id_cat_apartado_firma})
            });
    
            if(response.ok){
                const data = await response.json();
                clearForm()
            $.alert({
                title: "Success",
                content: `<strong>Configuración agregada correctamente</strong>`,
                theme: 'modern',
                icon: 'fa-solid fa-triangle-info',
                type: "blue",
                buttons:{
                    ok:function(){
                        window.location.reload();
                    }
                }
            });
            }else{
            $.alert({
                title: "Advertencia",
                content: `<strong>No se puedo agregar la configuración</strong>`,
                theme: 'modern',
                icon: 'fa-solid fa-triangle-exclamation',
                type: "red"
            });
            }
        }
        
    } catch (error) {
        console.error(error);
    }
    
} 



function clearForm(){
    const color_letra = document.getElementById('color_letra').value ="#611232";
    const tamanio_letra = document.getElementById('tamanio_letra').value = "";
    const estilo_letra = document.getElementById('estilo_letra').value = "";
    const fk_id_cat_apartado_firma = document.getElementById('fk_id_cat_apartado_firma').value = "";
}

async function activar(id,id_apartado){
    try {
        
        const url = "/configuracion/active/"+id;
        const checkActivarConfig = document.getElementById('activarConfig');
        let activo = true;
    
        const response = await fetch(url,{
    
            method:"POST",
                    headers: {
                "Content-Type": "application/json",
            },
            body:JSON.stringify({activo,id_apartado})
        });
        if(response.ok){
            const data = await response.json();
     /*        console.log(data); */
            $.alert({
                title: "Success",
                content: `<strong>Configuración agregada correctamente</strong>`,
                theme: 'modern',
                icon: 'fa-solid fa-triangle-info',
                type: "blue",
                buttons:{
                    ok:function(){
                        window.location.reload();
                    }
                }
            });
        }
    } catch (error) {
        console.error(error)
    }
}

async function activarImage(id){

    try {
        const url = "/configuracion/file/active/"+ id;
            let activo = true;
    
        const response = await fetch(url,{
    
            method:"POST",
                    headers: {
                "Content-Type": "application/json",
            },
            body:JSON.stringify({activo})
        });
        if(response.ok){
            const data = await response.json();
       /*      console.log(data); */
            $.alert({
                title: "Success",
                content: `<strong>Imagen activada correctamente</strong>`,
                theme: 'modern',
                icon: 'fa-solid fa-triangle-info',
                type: "blue",
                buttons:{
                    ok:function(){
                        window.location.reload();
                    }
                }
            });
        }
        
    } catch (error) {
          console.error(error);
    }
}


async function agregarArchivo(){
    try {
        const formData = new FormData();
        const inputFile = document.getElementById('file');
        if(!inputFile.files[0]){
            $.alert({
                title: "Advertencia",
                content: `<strong>Favor de seleccionar un archivo de imagen</strong>`,
                theme: 'modern',
                icon: 'fa-solid fa-triangle-exclamation',
                type: "red"
            });
        }else{
            formData.append('file',inputFile.files[0]);
            const file = inputFile.files[0];
            const url = "/configuracion/file";
        
            const response = await fetch(url,{
        
                method:"POST",
                body:formData
            });
    
            if(response.ok){
                const data = await response.json();
                quitarImagen('#imgPreview');

            $.alert({
                title: "Success",
                content: `<strong>Imagen agregada correctamente</strong>`,
                theme: 'modern',
                icon: 'fa-solid fa-triangle-info',
                type: "blue",
                buttons:{
                    ok:function(){
                        window.location.reload();
                    }
                }
            });
            }
        
/*     
            console.log(data); */
        }
        
    } catch (error) {
        console.error(error)
    }
}
</script>
